@font-face {
    font-family: 'robtronika-font';
    src: url('/Actividad1 Trimestre 1/resources/font/robtronika-font/Robtronika-4Bq8p.ttf') format('truetype'),
        url('/Actividad1 Trimestre 1/resources/font/robtronika-font/RobtronikaItalic-0Wqn9.ttf') format('truetype'),
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #333;
    color: #fa725a;
    padding: 40px;
    margin: 10px;
    border-radius: 60px;
    text-align: center;

}

header div {
    display: flex;
}

.logoheader {
    width: 200;
    height: 200px;
    margin-left: 20px;
}

.titulo {

    font-family: 'robtronika-font';
    font-size: 60px;
    color: #fa725a;
    margin-left: 50px;
    margin-bottom: 20px;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);

}

.titulo:hover {
    color: #ffffff;

}

.listaheader {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.formheader {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.main-content {
    padding: 20px;
    margin-bottom: 100px;
}

.subtitulo {
    font-family: 'robtronika-font';
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fa725a;
    padding-top: 20px;

}

.descripcion {
    font-family: 'robtronika-font';
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    margin-top: 10px;

}

.product-details {
    text-align: center;
    padding: 20px;
}

.imagenes {
    display: flex;
    justify-content: center;
    font-family: 'robtronika-font';
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fa725a;

}

.fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.localizacion {
    margin-bottom: 200px;
}

.sobremap {
    display: flex;
    justify-content: center;
    font-family: 'robtronika-font';
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fa725a;

}

.mapcont {
    display: flex;
    justify-content: center;
}

.contactainstrucciones {
    font-family: 'robtronika-font';
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fa725a;
    padding-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}