.col-md-6 {
    background-color: aquamarine;
}

.col-md-4 {
    background-color: rgb(246, 255, 208);
}

.col-md-2 {
    background-color: rgb(219, 199, 255);
}

.col-xl-10{

    background-color: antiquewhite;
}


.col-xl-1{
    background-color: aliceblue;
}