/* Colores customizados */

.colorHueso {
     background-color:   #f6f6eb;
}
.colorOceano {
     background-color:   #11284b;
}
.colorAzulado {
     background-color:   #381fd1;
}
.colorGris {
     background-color:   #4b4b4e;
}
.colorBlanco {
     background-color:   #ffffff;
}
.colorBlancoRoto {
     background-color:   #f3f2fc;
}

